.contact-block {
  text-align: center;
  background-color: #eaf0f3;
  font-family: $robotoRegular;
  font-size: 16px;
  .info-fr {
    padding: 40px 0 50px;
    .info {
      img {
        margin-bottom: 15px;
      }
    }
  }
  footer {
    padding: 60px 0;
    background-color: #100f1c;
    color: #fff;
  }
}

@media all and (max-width: 768px) {
  .contact-block {
   .info-fr {
      .info {
        &:last-child,
        &:nth-child(2) {
          margin-top: 30px;
        }
      }
    }
    footer {
      padding: 30px 0;
    } 
  }

}
