.education-block {
  text-align: center;
  font-family: $robotoRegular;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 60px;
  .intro-text {
    margin-bottom: 70px;
  }

  .text-fr {
    text-align: left;
    .title {
      font-size: 20px;
      font-family: $brandonBold;
      text-transform: uppercase;
      margin-bottom: 15px;
      margin-top: 0;
    }
    .date {
      color: #ea2216;
    }
    .university {
      font-family: $robotoBold;

    }
  }
}

@media all and (max-width: 992px) {
  .education-block{
   .info-fr {
      .info {
        &:last-child {
          margin-top: 30px;
        }
      }
    } 
  }  
}

@media all and (max-width: 768px) {
  .education-block {
    .image-fr {
      margin-bottom: 30px;
      text-align: center;
      display: inline-block;
    }
  }
}