.portfolio-block {
  text-align: center;
  font-family: $robotoRegular;
  padding-bottom: 35px;
  .button-fr {
    margin-bottom: 65px;
    position: relative;
    button {
      display: inline-block;
      border: solid 2px #fd0000;
      padding: 13px 25px;
      background-color: #FFF;
      margin: 0 15px;
      border-radius: 25px;
      font-size: 15px;
      font-family: $brandonBold;
      text-transform: uppercase;
      &.mixitup-control-active {
        background-color: #fd0000;
        color: #fff;
      }
      &:focus {
        outline: none;
      }
    }
    .behance-link {
      position: absolute;
      right: 0;
      top: 15px;
    }
  }
  .items-fr {
    .item {
      margin-bottom: 25px;
      a {
        display: block;
        position: relative;
        border-radius: 25px;
        overflow: hidden;
        color: #fff;
        .caption-fr {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          background: rgba(17,18,17,0.2);
          .text {
            margin-top: 10px;
          }
          .type {
            color: #fd2626;
          }
        }
      }
    }
  }
}

@media all and (max-width: 768px) {
  .portfolio-block {
    .button-fr {
      button {
        margin: 5px 10px;
      }
    }
    .items-fr {
      .item {
        a {
          .caption-fr {
            .text {
              font-size: 13px;
            }
            .type {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 480px) {
  .portfolio-block {
    .behance-link {
      display: none;
    }
  }
  .items-fr {
    .item {
      a {
        .caption-fr {
          display: none;
        }
      }
    }
  }
}